@font-face {
    font-family: 'D-DIN-Bold';
    src: url('../fonts/D-DIN-Bold.otf');
}

@font-face {
    font-family: 'D-DIN-Condensed-Bold';
    src: url('../fonts/d-din.condensed-bold.otf');
}

@font-face {
    font-family: 'DIN-Alternate';
    src: url('../fonts/DIN Alternate Bold.ttf');
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir Light.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/avenir-roman-opentype_bigfontsite.com.otf');
}

@font-face {
    font-family: 'Coco-Gothic-Bold';
    src: url('../fonts/Coco-Gothic-Bold-trial.ttf');
}

@font-face {
    font-family: 'Objectivity-Bold';
    src: url('../fonts/Objectivity-Bold.otf');
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

html {
    background-color: #272727;
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

/* rgb(78, 113, 255) */

.menu {
    border-bottom: .5rem solid rgb(0, 0, 0);
    background-color: #3e3e3e;
    width: 100%;
    height: 30rem;
    position: fixed;
    top: 0rem;
    z-index: 99;
    display: none;
    flex-direction: column;
    text-align: center;
}

.menu h4 {
    font-family: Avenir-Roman;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 0 0 1rem 0;
}

 .socialMediaHamburger {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialMediaHamburger img {
    padding: .5rem 1rem 0;
}

.xButton {
    position: absolute;
    right: 1.3rem;
    top: 1.4rem;
}

.burgerSpacing {
    position: relative;
    top: 3rem;
}

#darkenedState {
    position: fixed;
    background-color: #000000;
    height: 100%;
    width: 100%;
    opacity: .3;
    z-index: 50;
}

#redHeader {
    position: fixed;
    background-color: #272727;
    height: 4.437rem;
    width: 100%;
    box-shadow: 0 .2vh 2vh rgba(0, 0, 0, 0.705);
    z-index: 10;
}

.rectangle {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    height: 0.31rem;
    margin: 0.25rem;
    width: 2.4375rem;
}

.burgerMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1.125rem;
    top: 1.125rem;
}

.burgerMenu:hover {
    cursor: pointer;
}

.xButton:hover {
    cursor: pointer;
}

.maxHeader {
    display: none;
    flex-direction: row;
    padding: .2rem 1rem;
    position: fixed;
    right: 0;
    z-index: 11;
}

.maxHeader h2 {
    font-size: 2rem;
}

.maxHeadSpace {
    padding: 0 1.5rem;
}

h1 {
    color: #FFFFFF;
    font-family: Objectivity-Bold, DIN-Alternate, Roboto-Bold, Coco-Gothic-Bold;
    margin: 0;
    font-size: 4.5rem;
    letter-spacing: .2rem;
}

h2 {
    color: #FFFFFF;
    font-family: Avenir-Light, Roboto-Light;
    font-size: 1.3rem;
    letter-spacing: 0.08125rem;
    line-height: 3rem;
    margin: 0;
    text-shadow: 0 0.125rem 0.75rem #ffffffba;
}

/* #homeNameLong {
    display: initial;
}

#homeNameShort {
    display: none;
} */

#welcomePage {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    max-width: 500px;
    
}

#welcomeCentering {
    margin: auto;
    padding: 0 1.5rem;
    position: relative;
    max-width: 37.5rem;
    text-align: left;
    width: auto;
}

#skills {
    padding-top: 2rem;
}

#homeFooter {
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    background: linear-gradient(180deg, rgba(39,39,39,1) 70%, rgba(255, 78, 78, 0.639) 100%);
    z-index: -2;
}


/* End of homepage css */

#blueHeader {
    position: fixed;
    background-color: #4E99FF;
    height: 4.437rem;
    width: 100%;
    box-shadow: 0 .2vh 2vh rgba(0, 0, 0, 0.705);
    z-index: 10;
}

/* .welcomeText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;
    left: 5vh;
} */

.welcomeText {
    position: relative;
    top: 20vh;
    width: auto;
    text-align: center;
}

.centerWelcomeText {
    margin: auto;
    padding: 0 1.5rem;
    position: relative;
    max-width: 37.5rem;
    text-align: left;
    width: auto;
}


.welcomeText h2 {
    text-shadow: none;
    font-size: 2rem;
}

#projectOptions {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30vh;
    width: auto;
}

#projectOptions h3 {
    color: #FFFFFF;
    font-family: D-Din-Bold;
    font-size: 2rem;
    /* text-shadow: 0 0.125rem 0.75rem #4E99FF; */
    position: relative;
    top: 1.5rem;
    text-align: left;
}

.contentCenter {
    margin: auto;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2.3rem;
    right: 2rem;
}

.socialIcons img {
    padding-left: 2rem;
}

.mail {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

#projectFooter {
    height: 70%;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background: linear-gradient(180deg, rgba(39,39,39,1) 70%, #4E99FF 100%);
    z-index: -2;
}

.otherPagesIcons {
    position: relative;
    bottom: 0rem;
}

/* When project page gets big, do wrapping rows for the clickable options */

/* When project page is desktop size, have the title and the text on the left side of the screen, and the clickable options on the right in wrapping rows, 2 in each row */

/* End of project place css */

#greenHeader {
    position: fixed;
    background-color: #2EBD4C;
    height: 4.437rem;
    width: 100%;
    box-shadow: 0 .2vh 2vh rgba(0, 0, 0, 0.705);
    z-index: 10;
}

#resumeDownload {
    border-radius: .5rem;
    position: relative;
    margin: auto;
    background-color: #2EBD4C;
    width: 16rem;
    height: 2.6rem;
    top: 40vh;
}

#resumeDownload h2 {
    font-family: Avenir-Light;
    font-size: 1.5rem;
    text-align: center;
}

#resumeText {
    font-size: 1rem;
    font-family: Avenir-Roman;
    color: #FFFFFF;
    line-height: 1.5rem;
    margin: auto;
    padding: 0 1.5rem;
    position: relative;
    top: 30vh;
    max-width: 37.5rem;
}

#resumeText b {
    font-size: 1.5rem;
    font-family: D-Din;
}

#resumeText li b {
   font-family: Avenir-Light; 
   font-size: 1.2rem;
}

.listBullets {
    list-style: none;
}

#resumeTextHeader {
    text-align: center;
}

#resumeMyHeader {
    position: relative;
    left: .1rem;
}

#resumeText h3 {
    font-size: 1.5rem;
}

#resumeDownload {
    border-radius: .5rem;
    position: relative;
    margin: auto;
    background-color: #2EBD4C;
    width: 12rem;
    height: 3rem;
    top: 35vh;
}

#resumeDownload h2 {
    font-family: Avenir-Light;
    font-size: 1.5rem;
    text-align: center;
}

#resumeFooter {
    height: 70%;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background: linear-gradient(180deg, rgba(39,39,39,1) 70%, #2EBD4C 100%);
    z-index: -2;
}

/* End of resume page css */

#purpleHeader {
    position: fixed;
    background-color: #B94EFF;
    height: 4.437rem;
    width: 100%;
    box-shadow: 0 .2vh 2vh rgba(0, 0, 0, 0.705);
    z-index: 10;
}

#myImage {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
}

#myImage h3 {
    color: #FFFFFF;
    font-family: D-Din-Bold;
    font-size: 2rem;
    position: relative;
    top: 1.5rem;
    text-align: left;
}

#myImage img {
    width: 100%;
    max-width: 37.5rem;
}

#aboutMeHiddenImage {
    display: none;
}

.textWritten {
    font-size: 1.2rem;
    font-family: Avenir-Roman;
    color: #FFFFFF;
    line-height: 1.5rem;
    margin: auto;
    padding: 0 1.5rem;
    position: relative;
    top: 30vh;
    max-width: 37.5rem;
}

#aboutMeText {
    font-size: 1.2rem;
    font-family: Avenir-Roman;
    color: #FFFFFF;
    line-height: 1.5rem;
    margin: auto;
    padding: 0 1.5rem;
    position: relative;
    top: 30vh;
    max-width: 37.5rem;
}

 #aboutMeFooter {
    height: 60%;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background: linear-gradient(180deg, rgba(39,39,39,1) 70%, #b84eff 100%);
    z-index: -2;
}

/* End about me page css */

.orangeHeader {
    position: fixed;
    background-color: #FFAE4E;
    height: 4.437rem;
    width: 100%;
    box-shadow: 0 .2vh 2vh rgba(0, 0, 0, 0.705);
    z-index: 10;
}

.contentPagesFooter {
    height: 70%;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background: linear-gradient(180deg, rgba(39,39,39,1) 70%, #FFAE4E 100%);
    z-index: -2;
}

.contentImages {
    margin: auto;
}

.contentImages img{
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 20rem;
    margin: 1.5rem auto;
}

#manTentVideo {
margin: auto;
}

#manTentVideo video{
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 20rem;
    margin: 1.5rem auto;
}

.poggjGifs {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 20rem;
    margin: 1.5rem auto;
}

/* use grid for social media icon placement */

/* Start of transition/animation css */

@keyframes dropDown {
    from {
        top: -50rem;
    }

    top {
        top: 0rem;
    }
}

/* @keyframes slideUp {
    from {
        top: 0rem;
    }

    top {
        top: -50rem;
    }
} */

/* Media Query Start css */

@media screen and (min-width: 600px) {
    h1 {
        font-size: 5.5rem;
    }
    
    h2 {
        font-size: 1.8rem;
        letter-spacing: 0.08125rem;
        line-height: 4rem;  
    }  

    #welcomePage {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        top: 15vh;
    }
    
    #welcomeCentering {
        margin: auto;
        position: relative;
        max-width: 37.5rem;
        text-align: left;
        width: auto;
        right: 5vh;
    }

    #resumeMyHeader {
        position: relative;
        left: .2rem;
    }

    #resumeDownload {
        border-radius: .5rem;
        position: relative;
        margin: auto;
        background-color: #2EBD4C;
        width: 12rem;
        height: 3.6rem;
        top: 35vh;
    } 

    #myImage img {
        width: 100%;
        max-width: 50rem;
    }

}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 2.6rem;
        letter-spacing: 0.08125rem;
        line-height: 4rem;  
    }  
    
    #welcomePage {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        top: 15vh;
        right: 5rem;
    }
    
    #welcomeCentering {
        margin: auto;
        position: relative;
        max-width: 50rem;
        text-align: left;
        width: auto;
    }

    .centerWelcomeText {
        max-width: 1400px;
        position: relative;
        left: 2rem;
    }

    #resumeMyHeader {
        position: relative;
        left: .4rem;
    }

    #resumeDownload {
        border-radius: .5rem;
        position: relative;
        margin: auto;
        background-color: #2EBD4C;
        width: 12rem;
        height: 3.6rem;
        top: 37vh;
    } 

    #myImage img {
        width: 100%;
        max-width: 100%;
    }

}

@media screen and (min-width: 1200px) {

    /* #homeNameShort {
        display: none;
    }

    #homeNameLong {
        display: initial;
    } */

    p {
        font-size: 1.2rem;
    }

    li {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    #resumeText h3 {
        font-size: 2rem;
    }

    .burgerMenu {
        display: none;
    }
    .maxHeader {
        display: flex;
    }
    
    #welcomePage {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        top: 25vh;
        left: 4rem;
        max-width: 1000px;
    }

    #welcomeCentering {
        margin: auto;
        position: relative;
        max-width: 100%;
        text-align: left;
        width: auto;
        right: 20vh;
    }

    .welcomeText {
        position: relative;
        top: 20vh;
        width: auto;
        text-align: center;
        padding: 0 5rem;
    }

    #projectOptions {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 35vh;
        width: auto;
        margin: auto;
        max-width: 1400px;
    }

    #projectFooter {
        height: 70%;
        width: 100%;
        position: relative;
        bottom: 0rem;
        background: linear-gradient(180deg, rgba(39,39,39,1) 70%, #4E99FF 100%);
        z-index: -2;
    }

    #resumeText {
        font-size: 1rem;
        font-family: Avenir-Roman;
        color: #FFFFFF;
        line-height: 1.5rem;
        margin: auto;
        padding: 0 1.5rem;
        position: relative;
        top: 35vh;
        max-width: 37.5rem;
    }

    #resumeDownload {
        border-radius: .5rem;
        position: relative;
        margin: auto;
        background-color: #2EBD4C;
        width: 12rem;
        height: 3.6rem;
        top: 41vh;
    } 


    .aboutMeFlex {
        display: flex;
        flex-direction: row;
        width: auto;
        max-width: 1000px;
        margin: auto;
        padding: 0 5rem;
    }

    #myImage img{
        position: relative;
        top: 4rem;
    }

    #myImage h3{
        position: relative;
        top: 5rem;
    }

    #aboutMeHiddenImage {
        display: flex;
        padding-bottom: 1.5rem;
    }

    #aboutMeText p{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    #aboutMeFooter {
        height: 60%;
        width: 100%;
        position: relative;
        bottom: 0rem;
        background: linear-gradient(180deg, rgba(39,39,39,1) 70%, #b84eff 100%);
        z-index: -2;
    }

}
